.titulo {
    font-family: 'Rokkitt', serif;
    font-size: 20px;
    font-weight: bold;
}

.guion {
    width: 10px;
    margin: 0.5 0em !important;
    border-top: 2px solid black!important;
}

.bajada {
    font-family: 'Roboto', sans-serif;
}

#coder, #nombre {
    display: inline-flex;
}

#coder {
    height: 400px;
    width: 100%;
    background-color: lightgoldenrodyellow;
}

img {
    height: 400px;
    width: 100%;
}

#nombre {
    background-color: #333333;
}

.btn {
    background-color: #F9A91A !important;
    color: white !important;
}

.white {
    color: white;
}